.btn-1{
    background-color: green;
    width: 80%;
    border-radius:8px;
    height: 30px;
    color:white;
    font-size:16px;
    opacity: 0.5;
    margin-top: 50px;
}
.inp-1{
    margin-top: 60px;
    width: 80%;
    color:black;
    height: 30px;
   border:2px solid rgb(161, 161, 161);
    outline:none;
    border-radius:5px;
    padding-left: 10px;
}
.inp-2{
    width: 80%;
    padding-bottom: 120px;
    border:2px solid black
}
.title{
    font-size:17px;
    font-weight: bold;
    text-align:center;
    margin-right: 130px;
}
.all3{
    width: 80%;
    display: flex;
    
    margin-top:24px
    
}
.inp-3{
height: 25px;
border:2px solid
}
.inp-4{
width: 170px;
height: 29px;
border:2px solid;

option{
    height: 50px;
}

}
